# Data Management Homework 3

## Initialize the collection:
Connecting to the remote DB

In [57]:
from pymongo import MongoClient

import pandas as pd

In [3]:
myclient = MongoClient("mongodb+srv://Dario:1234@cluster0-iabq9.mongodb.net/test?retryWrites=true&w=majority")


homework_3_db = myclient["HM-3"]


reservations_collection = homework_3_db["Reservation"]
hotels_collection = homework_3_db["Hotel"]
countries_collection = homework_3_db["Country"]
meal_collection = homework_3_db["Meal_type"]

### Printing function:
Just for print results in tabular format

In [88]:
def results_printer(documents, integer_fields=None):
    """
    Create a dataframe out of the results of a query 
    :param documents: the results of the query
    :param integer_fields: (optional) a list of fields that must be integer, and not float 
    :return: the dataframe to print
    """
    # create the dataframe from the documents
    df = pd.DataFrame()
    for document in documents:
        df = df.append(pd.Series(document), ignore_index=True)
    
    # if some fields have to be integers type will be changed
    if integer_fields:
        df = df.astype({field: int for field in integer_fields})
    
    return df

## Queries:

#### Query 1:
The most expensive months in a resort hotel & city hotel.

In [82]:
pipeline_dict = [{"$lookup":{"from": "Hotel",
                             "localField": "hotel",
                             "foreignField": "_id",
                             "as": "hotel"}},
                 {"$project": {"_id": 0,
                               "adr": 1,
                               "arrival_date_month": 1,
                               "hotel name": { "$arrayElemAt": [ "$hotel.Description", 0 ]} }},
                 # get the total number of entries in the db
                 {"$group":{"_id": None,
                            "total": {"$sum": 1}, 
                            "all fields": {"$push": {"_id": "$_id",
                                                     "hotel name": "$hotel name", 
                                                     "adr": "$adr",
                                                     "arrival_date_month": "$arrival_date_month"}}}},
                 # get back the other fields
                 {"$unwind": "$all fields" },
                 {"$project":{"hotel name": "$all fields.hotel name", 
                              "adr": "$all fields.adr",
                              "arrival_date_month": "$all fields.arrival_date_month",
                              "total": 1}},
                 # continue with the query
                 {"$group": {"_id": {"month": "$arrival_date_month", "hotel": "$hotel name"},
                             "total": {"$first": "$total"},
                             "average price": {"$avg": "$adr"},
                             "count": {"$sum": 1}}},
                 {"$project":{"_id": 0,
                              "month": "$_id.month",
                              "hotel name": "$_id.hotel",
                              "average price": {"$round": ["$average price", 2]},
                              "percentage of bookings": {"$round": [{"$multiply":[{"$divide":["$count","$total"]},100]}, 2]}}},
                 {"$sort": {"hotel name": 1, "average price": -1}}]

results = reservations_collection.aggregate(pipeline_dict)

results_printer(results)

    average price    hotel name      month  percentage of bookings
0          121.64    City Hotel        May                    6.90
1          119.07    City Hotel       June                    6.61
2          114.68    City Hotel     August                    7.52
3          111.25    City Hotel      April                    6.27
4          110.73    City Hotel       July                    6.77
5          110.00    City Hotel  September                    6.20
6           99.97    City Hotel    October                    6.37
7           92.64    City Hotel      March                    5.41
8           88.83    City Hotel   December                    3.46
9           88.07    City Hotel   November                    3.65
10          85.09    City Hotel   February                    4.16
11          82.63    City Hotel    January                    3.13
12         186.79  Resort Hotel     August                    4.10
13         155.18  Resort Hotel       July                    3.83
14         110.44  Resort Hotel       June                    2.55
15          93.25  Resort Hotel  September                    2.60
16          78.76  Resort Hotel        May                    2.98
17          77.85  Resort Hotel      April                    3.02
18          68.98  Resort Hotel   December                    2.22
19          62.10  Resort Hotel    October                    2.98
20          57.52  Resort Hotel      March                    2.79
21          55.17  Resort Hotel   February                    2.60
22          49.46  Resort Hotel    January                    1.84
23          48.27  Resort Hotel   November                    2.04

#### 2) price fluctuations:
A time series is shown with the prices of the hotels over time

In [87]:
pipeline_dict = [{"$lookup":{"from": "Hotel",
                             "localField": "hotel",
                             "foreignField": "_id",
                             "as": "hotel"}},
                 {"$project": {"_id": 0,
                               "price": "$adr",
                               "year": "$arrival_date_year",
                               "hotel name": {"$arrayElemAt": ["$hotel.Description", 0]}}},
                 # get the total number of entries in the db
                 {"$group":{"_id": None,
                            "total": {"$sum": 1}, 
                            "all fields": {"$push": {"price": "$price",
                                                     "year": "$year",
                                                     "hotel name": "$hotel name"}}}},
                 # get back the other fields
                 {"$unwind": "$all fields" },
                 {"$project":{"price": "$all fields.price", 
                              "year": "$all fields.year",
                              "hotel name": "$all fields.hotel name",
                              "total": 1}},
                 # continue with the query
                 {"$group": { "_id": {"year": "$year", "hotel name": "$hotel name"}, 
                              "average price": {"$avg": "$price"},
                              "count": {"$sum": 1},
                              "total": {"$first": "$total"}}},
                 {"$project": {"_id": 0,
                               "hotel name": "$_id.hotel name",
                               "year": "$_id.year",
                               "average price": {"$round": ["$average price", 2]},
                               "percentage of reservations": {"$round": [{"$multiply":[{"$divide":["$count","$total"]},100]}, 2]}}},
                 {"$sort": {"hotel name": 1, "year": 1}}]

results = reservations_collection.aggregate(pipeline_dict)

results_printer(results, integer_fields=["year"])

   average price    hotel name  percentage of reservations  year
0          85.86    City Hotel                       11.46  2015
1         103.48    City Hotel                       31.95  2016
2         117.50    City Hotel                       23.04  2017
3          89.35  Resort Hotel                        6.96  2015
4          87.73  Resort Hotel                       15.55  2016
5         108.66  Resort Hotel                       11.04  2017

#### 3) price and number of people:
How much does the price increase at the change of the number of people

In [86]:
pipeline_dict = [{"$project": {"_id": 0,
                               "price": "$adr",
                               "number of people": {"$sum": ["$adults", "$children", "$babies"]}}},
                 {"$match": {"number of people": {"$gt": 0}}},
                 # get the total number of entries in the db
                 {"$group":{"_id": None,
                            "total": {"$sum": 1}, 
                            "all fields": {"$push": {"price": "$price",
                                                     "number of people": "$number of people"}}}},
                 # get back the other fields
                 {"$unwind": "$all fields" },
                 {"$project":{"price": "$all fields.price", 
                              "number of people": "$all fields.number of people",
                              "total": 1}},
                 # continue with the query
                 {"$group": {"_id": "$number of people",
                             "total": {"$first": "$total"},
                             "average price": {"$avg": "$price"},
                             "count": {"$sum": 1}}},
                 {"$project":{"_id": 0,
                              "number of people": "$_id",
                              "average price": {"$round": ["$average price", 2]},
                              "average price per person": {"$round": [{"$divide":["$average price", "$_id"]}, 2]},
                              "percentage of bookings": {"$round": [{"$multiply":[{"$divide":["$count","$total"]},100]}, 2]}}},
                 {"$match": {"percentage of bookings": {"$gt": 0}}},
                 {"$sort": {"number of people": 1}}]


results = reservations_collection.aggregate(pipeline_dict)

results_printer(results,integer_fields=["number of people"])

,average price,average price per person,number of people,percentage of bookings
0,81.55,81.55,1,18.94
1,98.03,49.02,2,68.83
2,143.77,47.92,3,8.80
3,186.36,46.59,4,3.30
4,212.37,42.47,5,0.11